.venv/*
.env
__pycache__/
*.pyc
*.log

# Distribution
dist/

# Rust
axeane-automation-runner/target/
axeane-automation-runner/build/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Python
axeane-filler/build/
axeane-filler/data/

# Compiled binaries
axeane-automation-runner/binaries/*.exe

# OS
.DS_Store
Thumbs.db

# Python embeddable cache
*.zip

axeane-automation-runner/binaries/python-backend-x86_64-pc-windows-msvc.exe
